<div class="overflow-x-auto rounded-2xl shadow-xl bg-white border border-slate-200">
  <table class="table">
    <thead class="bg-slate-100">
      <tr>
        <th>#</th>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th>Tipo Pago</th>
        <th>Total</th>
        <th>Estado</th>
        <th class="text-center">Acciones</th>
      </tr>
    </thead>

    <tbody>
      @if (ventas.length === 0) {
        <tr>
          <td colspan="8" class="text-center py-10 text-slate-500">
            No existen ventas registradas.
          </td>
        </tr>
      } @else {
        <!-- ✅ CAMBIAR track venta.id POR venta.id || $index -->
        @for (venta of ventas; track venta.id || $index) {
          <tr class="hover">
            <td>
              {{ venta.id }}
            </td>

            <td>
              {{ venta.fechaVenta | date: 'dd/MM/yyyy HH:mm' }}
            </td>

            <td>
              {{ venta.cliente?.nombre ?? 'Cliente General' }}
            </td>

            <td>
              {{ venta.usuario?.nombre }}
            </td>

            <td>
              <span class="badge badge-info">
                {{ venta.tipoPago }}
              </span>
            </td>

            <td class="font-semibold text-success">
              {{ venta.total | currency: 'PEN' : 'symbol' : '1.2-2' }}
            </td>

            <td>
              @if (venta.estado === 'PAGADO') {
                <span class="badge badge-success">
                  {{ venta.estado }}
                </span>
              } @else {
                <span class="badge badge-warning">
                  {{ venta.estado }}
                </span>
              }
            </td>

            <td>
              <div class="flex justify-center gap-2">
                <button class="btn btn-sm btn-primary" (click)="verDetalle(venta.id)">Ver</button>
              </div>
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
