<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <aside>
    <img
      src="https://res.cloudinary.com/divfxkbk3/image/upload/v1781901857/android-192_pvloig.png"
      width="100"
    />
    <p>
      Corporación Smart Tech Perú E.I.R.L
      <br />
      Ofreciendo tecnología confiable desde 2013.
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Información</h6>

    <a class="link link-hover">Acerca de nosotros</a>

    <a class="link link-hover">Contactanos</a>
    <a class="link link-hover">Como comprar?</a>
  </nav>
  <nav>
    <h6 class="footer-title">Servicio al cliente</h6>
    <a class="link link-hover">Preguntas frecuentes</a>
    <a class="link link-hover">Politicas de garantía</a>

    <a class="link link-hover">Terminos y condiciones</a>
  </nav>
  <nav>
    <h6 class="footer-title">Mi cuenta</h6>
    <a class="link link-hover">Perfil</a>
    <a class="link link-hover">Mis compras</a>
    <a class="link link-hover">Configuración</a>
  </nav>
  <nav>
    <h6 class="footer-title">Social</h6>
    <div class="grid grid-flow-col gap-4">
      <a href="https://www.facebook.com/Smart-Tech-105299684184440/"
        ><i class="fa-brands fa-square-facebook"></i>
      </a>
      <a
        href="https://www.instagram.com/smart_tech_aqp?igsh=bGppZGl2M2VmbXNr&utm_source=ig_contact_invite"
        ><i class="fa-brands fa-square-instagram"></i>
      </a>
      <a href="https://www.tiktok.com/@smart.tech.aqp?_r=1&_t=ZS-97NYJ32LPvA">
        <i class="fa-brands fa-tiktok"></i
      ></a>
      <a href="https://wa.me/message/UZOBJV3ZLYQKM1">
        <i class="fa-brands fa-square-whatsapp"></i
      ></a>
    </div>
  </nav>
</footer>
