<footer class="footer sm:footer-horizontal bg-base-200 text-base-content p-10">
  <aside>
    <img
      src="https://res.cloudinary.com/divfxkbk3/image/upload/v1781901857/android-192_pvloig.png"
      alt=""
    />
    <p>
      Corporación Smart Tech Perú E.I.R.L
      <br />
      Ofreciendo tecnología confiable desde 2013.
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Información</h6>
    <a class="link link-hover">Acerca de Nosotros</a>
    <a class="link link-hover">Contactanos</a>
    <a class="link link-hover">Como comprar?</a>
  </nav>
  <nav>
    <h6 class="footer-title">Servicio al Cliente</h6>
    <a class="link link-hover">Preguntas Frecuentes</a>
    <a class="link link-hover">Politicas de Garantía</a>
    <a class="link link-hover">Cambios y devoluciones</a>
    <a class="link link-hover">Terminos y condiciones</a>
  </nav>
  <nav>
    <h6 class="footer-title">Mi cuenta</h6>
    <a class="link link-hover">Perfil</a>
    <a class="link link-hover">Historial de compras</a>
    <a class="link link-hover">Carrito de compras</a>
  </nav>
  <nav>
    <h6 class="footer-title">Social</h6>
    <div class="grid grid-flow-col gap-4">
      <a><i class="fa-brands fa-facebook"></i> </a>
      <a><i class="fa-brands fa-instagram"></i> </a>
      <a><i class="fa-brands fa-tiktok"></i> </a>
      <a><i class="fa-brands fa-whatsapp"></i></a>
    </div>
  </nav>
</footer>
